<h2>Update {{drone.name}}</h2>
<hr>
<form action="/drones/{{drone.id}}/edit" method="POST">
  <label>Name</label>
  <input type="text" name="name" value="{{drone.name}}">

  <label>Propellers</label>
  <input type="text" name="propellers" value="{{drone.propellers}}">

  <label>Max. Speed</label>
  <input type="number" name="maxSpeed" value="{{drone.maxSpeed}}">

  <button type="submit">Update</button>
</form>